ion-card-header {
  padding: 10px;
}
ion-card-title {
  font-size: 1.2rem;
}
ion-item.importes {
  border: 1px splid red;
}

.fecha {
  display: flex;
  justify-content: space-between;
}
.total {
  display: flex;
  justify-content: center;
  align-items: center;
}
