<ion-app>
  <ion-menu side="start" menuId="first" contentId="main" #menu>
    <ion-header *ngIf="user$ | async as user">
      <ion-toolbar color="accent" translucent>
        <ion-title>
          {{ user.displayName }}
        </ion-title>
        <ion-buttons slot="start">
          <ion-avatar>
            <img src="assets/images/menu-logo.svg" class="logo-image" />
          </ion-avatar>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none" class="ion-no-padding" (click)="menu.toggle()">
        <ion-item detail routerLink="/">
          <ion-label>Inicio</ion-label>
          <ion-icon slot="start" name="home"></ion-icon>
        </ion-item>
        <ion-item
          detail
          routerLink="/solicitudes"
          (click)="menu.toggle()"
          *ngIf="accesarSolicitudes$ | async"
        >
          <ion-label>Solicitudes</ion-label>
          <ion-icon slot="start" name="list-circle-outline"></ion-icon>
        </ion-item>
        <ion-item
          detail
          routerLink="/autorizaciones"
          (click)="menu.toggle()"
          *ngIf="accesarAutorizaciones$ | async"
        >
          <ion-label>Autorizaciones</ion-label>
          <ion-icon slot="start" name="shield-checkmark"></ion-icon>
        </ion-item>
        <ion-item detail routerLink="/tableros" (click)="menu.toggle()">
          <ion-label>Análisis</ion-label>
          <ion-icon slot="start" name="analytics"></ion-icon>
        </ion-item>
        <ion-item detail routerLink="/settings" (click)="menu.toggle()">
          <ion-label>Mi cuenta</ion-label>
          <ion-icon slot="start" name="settings"></ion-icon>
        </ion-item>
        <ion-item (click)="signOut()" button>
          <ion-label>Salir</ion-label>
          <ion-icon slot="start" name="log-out"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar color="dark" class="main-menu-footer">
        <ion-title>Firebase: {{ projectId }}</ion-title>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
