<ion-content class="ion-no-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list-header>
          <ion-label> Periodo de búsqueda </ion-label>
        </ion-list-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Fecha inicial</ion-label>
          <ion-datetime
            mode="ios"
            [displayFormat]="displayFormat"
            [pickerFormat]="pickerFormat"
            [doneText]="doneText"
            [cancelText]="cancelText"
            [min]="fechaInicialMin"
            [max]="criteria.fechaFinal"
            [monthShortNames]="monthShortNames"
            [(ngModel)]="criteria.fechaInicial"
          ></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Fecha final</ion-label>
          <ion-datetime
            mode="ios"
            [displayFormat]="displayFormat"
            [pickerFormat]="pickerFormat"
            [doneText]="doneText"
            [cancelText]="cancelText"
            [min]="criteria.fechaInicial"
            [monthShortNames]="monthShortNames"
            [(ngModel)]="criteria.fechaFinal"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-text color="primary"> Registros </ion-text>
        </div>
        <ion-item>
          <ion-range
            min="10"
            max="300"
            step="10"
            pin="true"
            ticks="true"
            snaps="true"
            ticks="false"
            [(ngModel)]="criteria.registros"
          >
            <ion-icon size="small" slot="start" name="contrast"></ion-icon>
            <ion-icon slot="end" name="contrast"></ion-icon>
          </ion-range>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-button color="primary" expand="block" (click)="submit()">
  <ion-label> Aceptar </ion-label>
</ion-button>
